.vacation-status-primary .vct-days__remaining {
  background: #389dff;
  height: 500px;
}
.vacation-status-primary .vct-days__remaining .vacation-status-no {
  text-align: center;
  font-size: 128px;
  line-height: 128px;
  color: white;
  font-weight: 700;
}
.vacation-status-primary .vct-days__remaining .vacation-status-no-label {
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: normal;
}
.vacation-status-secondary {
  text-align: center;
}
.vacation-status-secondary .vacation-status-no {
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  color: white;
}
@media (max-width: 992px) {
  .vacation-status-secondary .vacation-status-no {
    font-size: 28px;
    line-height: 28px;
  }
  .vacation-status-secondary .vacation-status-no-label {
    font-size: 12px;
  }
}
.vacation-status-secondary .vacation-status-no-label {
  font-size: 12px;
  color: white;
}
.vacation-status-secondary .vct-days__unused {
  background: #42423c;
}
.vacation-status-secondary .vct-days__new {
  background: #696964;
}
.vacation-status-secondary .vct-days__total {
  background: #7c7c78;
}
.vacation-status-secondary .vct-days__used {
  background: #0077ea;
}
.vct-element-title {
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.vacation-log-element {
  overflow: auto;
}
.vacation-log-element table.vct-vacation-log tr:nth-child(even) {
  background-color: #ededec;
}
.vacation-log-element table.vct-vacation-log td {
  font-size: 14px;
  border-bottom: 1px solid #dadad6;
  padding: 10px;
}
.vacation-log-element table.vct-vacation-log td:first-child {
  text-align: left;
}
.vacation-log-element table.vct-vacation-log td:first-child:first-child:before {
  content: url(/assets/images/ico-cal.svg);
  float: left;
  width: 24px;
  margin-right: 15px;
}
.vacation-log-element table.vct-vacation-log td:last-child {
  text-align: right;
}
.vct-team-member-name {
  font-size: 18px;
  font-weight: 700;
}
.vct-team-data-bar {
  border-top: 1px dashed #7c7c78;
  border-bottom: 1px dashed #7c7c78;
}
.vct-team-location {
  height: 31px;
  background: #42423c;
}
.vct-team-location p {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 31px;
  margin: 0;
  font-size: 12px;
}
.vct-team-member-block {
  border-bottom: 1px dashed #7c7c78;
}
.vct-total-toggle {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.vct-total-toggle .vct-total-toggle-wrapper {
  display: none;
  background: #272724;
  color: white;
}
.vct-total-toggle .vct-total-toggle-wrapper p {
  font-size: 16px;
}
.vct-total-toggle .vct-total-toggle-card {
  height: 36px;
  line-height: 36px;
  background: #1E90FF;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  margin-top: -36px;
  z-index: 101;
  border-radius: 4px 4px 0 0;
}
.vct-total-toggle .vct-total-toggle-card a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.vct-total-toggle .vct-totals-total p {
  font-weight: 700;
  color: #1E90FF;
}
.info-modal-trigger {
  right: 20px;
  bottom: 8px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}
.info-modal-trigger:hover {
  color: #1E90FF;
}
a.vct-team {
  text-decoration: none;
  color: #42423c;
}
a.vct-team .vct-team-wrapper {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.12s linear;
}
a.vct-team .vct-team-wrapper:hover {
  box-shadow: none !important;
}
a.vct-team .vct-team-block {
  position: relative;
  transition: all 0.12s linear;
  border-radius: 2px;
  border: 1px solid #f5f5f4;
}
a.vct-team .vct-team-block .vct-client-logo {
  border-radius: 2px;
}
a.vct-team .vct-team-block .vct-team-block-data {
  color: #7c7c78;
  line-height: 20px;
}
a.vct-team .vct-team-block-hours:before {
  font-family: 'Themify';
  content: "\e72b";
  margin-right: 4px;
}
a.vct-team .vct-team-block-status-done:before {
  font-family: 'Themify';
  content: "\e64d";
  margin-right: 4px;
  font-size: 12px;
}
a.vct-team .vct-team-block-status-notdone:before {
  font-family: 'Themify';
  content: "\e6c5";
  color: red;
  margin-right: 4px;
}
