.vacation-status-primary .vct-days__remaining {
  background: #25aadf;
  height: 500px;
}
.vacation-status-primary .vct-days__remaining .vacation-status-no {
  text-align: center;
  font-size: 100px;
  line-height: 100px;
  color: white;
  font-weight: 700;
}
.vacation-status-primary .vct-days__remaining .vacation-status-no-label {
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: normal;
}
.vacation-status-secondary {
  text-align: center;
}
.vacation-status-secondary .vacation-status-no {
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  color: white;
}
@media (max-width: 992px) {
  .vacation-status-secondary .vacation-status-no {
    font-size: 28px;
    line-height: 28px;
  }
  .vacation-status-secondary .vacation-status-no-label {
    font-size: 12px;
  }
}
.vacation-status-secondary .vacation-status-no-label {
  font-size: 13px;
  color: white;
}
.vacation-status-secondary .vct-days__unused {
  background: #42423c;
}
.vacation-status-secondary .vct-days__new {
  background: #696964;
}
.vacation-status-secondary .vct-days__total {
  background: #7c7c78;
}
.vacation-status-secondary .vct-days__used {
  background: #1779a0;
}
.vacation-status-secondary .vct-days__earned {
  background: #115773;
}
.vct-element-title {
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.vacation-log-element {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  border: 1px solid #e1e1df;
}
.vacation-log-element table.vct-vacation-log thead tr {
  background: white;
}
.vacation-log-element table.vct-vacation-log thead tr th {
  font-weight: bold;
}
.vacation-log-element table.vct-vacation-log tr {
  background: #ededec;
}
.vacation-log-element table.vct-vacation-log tr:hover {
  background: #c0e7f6;
}
.vacation-log-element table.vct-vacation-log tr:nth-child(even) {
  background: white;
}
.vacation-log-element table.vct-vacation-log tr:nth-child(even):hover {
  background: #c0e7f6;
}
.vacation-log-element table.vct-vacation-log td {
  font-size: 14px;
  width: 25%;
  padding: 10px 20px;
}
.vacation-log-element table.vct-vacation-log td:last-child {
  text-align: right;
}
.vacation-log-element table.vct-vacation-log td p {
  text-align: left;
  margin: 0;
  line-height: 14px;
}
.vacation-log-element table.vct-vacation-log th {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
}
.vacation-log-element table.vct-vacation-log th:last-child {
  text-align: right;
}
.vacation-log-element .employees-overtime thead tr {
  background: white;
}
.vacation-log-element .employees-overtime thead tr th {
  font-weight: bold;
}
.vacation-log-element .employees-overtime tr {
  background: #ededec;
}
.vacation-log-element .employees-overtime tr:hover {
  background: #c0e7f6;
}
.vacation-log-element .employees-overtime tr.selected {
  background: #1E9BCC !important;
  color: white;
}
.vacation-log-element .employees-overtime tr:nth-child(even) {
  background: white;
}
.vacation-log-element .employees-overtime tr:nth-child(even):hover {
  background: #c0e7f6;
}
.vacation-log-element .employees-overtime td {
  font-size: 14px;
  width: 25%;
  padding: 10px 20px;
}
.vacation-log-element .employees-overtime td:first-child {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vacation-log-element .employees-overtime td:first-child:first-child:before {
  float: left;
  width: 24px;
  margin-right: 15px;
  line-height: 14px;
}
.vacation-log-element .employees-overtime td:last-child {
  text-align: right;
}
.vacation-log-element .employees-overtime td p {
  text-align: left;
  margin: 0;
  line-height: 14px;
}
.vacation-log-element .employees-overtime .vacation-icon:first-child:first-child::before {
  float: left;
  width: 24px;
  margin-right: 15px;
  line-height: 14px;
}
.vacation-log-element .employees-overtime th {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
}
.vacation-log-element .employees-overtime th:last-child {
  text-align: right;
}
.vacation-log-element .employees-overtime .select-all {
  cursor: pointer;
}
.vacation-log-element span.project-name {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  background: #c0e7f6;
}
.vct-team-member-name {
  display: block;
  height: 100% !important;
  font-size: 18px;
  letter-spacing: -0.3px;
  font-weight: 700;
}
.vct-team-member-name .temp-member {
  color: #1E9BCC;
  margin-left: 4px;
}
.vct-team-data-bar {
  padding: 10px 0;
  height: 62px;
  border-top: 1px dashed #7c7c78;
  border-bottom: 1px dashed #7c7c78;
}
.vct-team-data-bar span.h5 {
  line-height: 42px;
}
.vct-team-data-bar span.float-right {
  line-height: 42px;
}
.vct-team-location {
  height: 39px;
  border-radius: 1px;
  background: #aeaeac;
}
.vct-team-location p {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  white-space: nowrap;
  line-height: 39px;
  margin: 0;
  font-size: 12px;
}
.vct-client-checkbox {
  height: 16px;
  width: 16px;
  top: 36px;
  right: 20px;
}
.vct-team-member-block {
  border-bottom: 1px dashed #7c7c78;
}
a.pdf-report,
a.uploaded-file {
  display: block;
  font-size: 18px;
  width: 24px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
}
a.pdf-report:hover,
a.uploaded-file:hover {
  color: #51bce5;
}
.add-new-project:hover {
  color: #1E9BCC;
}
.vct-total-toggle {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 90;
}
.vct-total-toggle .vct-total-toggle-wrapper {
  display: none;
  background: black;
  color: white;
}
.vct-total-toggle .vct-total-toggle-wrapper p {
  font-size: 16px;
}
.vct-total-toggle .vct-total-toggle-card {
  height: 36px;
  line-height: 36px;
  background: #1E9BCC;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  margin-top: -36px;
  z-index: 101;
  border-radius: 4px 4px 0 0;
}
.vct-total-toggle .vct-total-toggle-card a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.vct-total-toggle .vct-totals-total p {
  font-weight: 700;
  color: #1E9BCC;
}
.info-modal-trigger {
  right: 16px;
  bottom: 2px;
  font-size: 16px;
  width: 29px;
  height: 29px;
  text-align: center;
  display: block;
  line-height: 29px;
  cursor: pointer;
}
.info-modal-trigger:hover {
  color: #1E9BCC;
}
.vct-team {
  text-decoration: none;
  color: #42423c;
}
.vct-team .vct-team-wrapper {
  border: 1px solid #e1e1df;
  transition: all 0.12s linear;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
.vct-team .vct-team-wrapper:hover {
  box-shadow: none !important;
  border: 1px solid #1E9BCC;
}
.vct-team .vct-team-wrapper:hover .action-icon {
  color: #1E9BCC;
}
.vct-team .vct-team-wrapper:hover h5 {
  color: #1E9BCC;
}
.vct-team .vct-team-wrapper a {
  text-decoration: none;
  transition: all 0.12s linear;
}
.vct-team .vct-team-wrapper .action-icon {
  font-size: 42px;
  color: #c2c2bb;
  transition: all 0.12s linear;
}
.vct-team .vct-team-wrapper p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.vct-team .vct-team-block {
  position: relative;
  transition: all 0.12s linear;
  border-radius: 2px;
  border: 1px solid black;
}
.vct-team .vct-team-block .vct-client-logo {
  border-radius: 2px;
}
.vct-team .vct-team-block .vct-team-block-data {
  color: #7c7c78;
}
.vct-team .vct-team-block-teams {
  color: #7a7a6f;
  font-size: 12px;
  font-weight: 700;
}
.vct-team .vct-team-block-teams:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f500";
  font-weight: 600 !important;
  font-size: 12px;
  line-height: 12px;
  margin-right: 4px;
}
.vct-team .vct-team-block-status-done {
  color: #1f9c26;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}
.vct-team .vct-team-block-status-done:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  content: "\f253";
  margin-right: 4px;
}
.vct-team .vct-team-block-status-notdone {
  color: #d8483e;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}
.vct-team .vct-team-block-status-notdone:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f251";
  font-weight: 600;
  margin-right: 4px;
}
.vct-team .vct-team-block-status-ready {
  color: #ffc400;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}
.vct-team .vct-team-block-status-ready:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f252";
  font-weight: 600;
  margin-right: 4px;
}
.vct-new-team-wrapper {
  display: none;
}
.vct-new-team-wrapper input.vct-new-team {
  padding: 8px;
  border: 1px solid #7c7c78;
}
.vct-new-team-wrapper input.vct-new-team:focus {
  border: 1px solid #1E9BCC;
}
.nice-select .option:hover {
  background-color: #1E9BCC !important;
  color: white;
}
.team-status-tbd::after {
  font-family: 'Themify';
  font-weight: normal;
  content: "\e6c5";
  color: red;
  margin-left: 6px;
  line-height: 36px;
  font-size: 24px;
}
.team-status-done::after {
  font-family: 'Themify';
  font-weight: normal;
  content: "\e64c";
  color: green;
  margin-left: 6px;
  line-height: 36px;
  font-size: 24px;
}
.modal-content {
  border: 0;
  border-radius: 2px;
}
.modal-content .modal-title {
  font-weight: 600;
  color: #d8483e;
}
.modal-content .modal-header {
  border-bottom: 0;
}
.modal-content .modal-footer {
  border-top: 0;
}
span.from-title {
  color: white;
  width: 100%;
  background: #25aadf;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  display: block;
}
.toast-success {
  background: #115773 !important;
}
.toast-error {
  background: #92251e !important;
}
.time-required {
  font-weight: 700;
  font-size: 16px;
  color: #d8483e;
  display: block;
  line-height: 16px;
}
.time-required::before {
  content: "time required: ";
  font-weight: normal;
  color: #42423c;
  font-size: 14px;
}
.no-results-message {
  display: none;
}
.badge {
  font-size: 13px;
  line-height: 13px !important;
  font-weight: bold;
}
.badge-default {
  background: #1E9BCC;
  color: white;
}
.DayPicker-wrapper {
  padding: 1rem !important;
}
.DayPicker {
  background: rgba(255, 255, 255, 0.95) !important;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  color: #42423c;
  border-radius: 4px;
  min-height: 310px;
}
.DayPicker-Month {
  width: 100%;
  margin: 0 !important;
}
.DayPicker-Day {
  font-size: 14px;
  font-weight: 500;
}
.DayPicker-Weekday {
  color: #42423c;
  font-size: 12px;
}
.DayPicker-Day--disabled {
  color: rgba(66, 66, 60, 0.45);
  cursor: default;
}
.DayPicker-Day {
  border-radius: 0 !important;
}
.DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: white;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #1E9BCC;
  color: white;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #115773;
}
.modal-body {
  padding: 0;
}
.apexcharts-menu-icon {
  display: none;
}
canvas#myVacation {
  position: relative;
  z-index: 1;
}
input[type=checkbox] {
  width: auto !important;
}
.weatherwidget-io {
  border-radius: 4px;
  overflow: hidden;
}
#vacation-timeline {
  min-height: 400px;
}
.fc-button-primary {
  background-color: #1E9BCC;
  border-color: #1E9BCC;
}
.fc-button-primary:hover {
  background-color: #1779a0;
  border-color: #1779a0;
}
.fc-button-primary:disabled {
  background-color: #dadad6;
  border-color: #dadad6;
  color: #808080;
}
.fc-toolbar h2 {
  color: #1E9BCC;
}
span.fc-title {
  color: #42423c;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  margin-left: 8px;
}
span.fc-day-number {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}
.fc-event {
  border-radius: 10px;
}
label.for-files {
  font-weight: 500;
}
.fc-content {
  padding: 2px;
}
.fc-toolbar h2 {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.legend-color {
  display: inline-block;
  font-size: 11px;
  line-height: 20px;
  padding: 0 8px;
  margin-right: 4px;
  font-weight: 500;
  border-radius: 10px;
  color: #42423c;
}
.legend-color.legend-work {
  background: #B5E3FF;
}
.legend-color.legend-sickleave {
  background: #FFF694;
}
.legend-color.legend-vacation {
  background: #FAD0E2;
}
.legend-color.legend-travel {
  background: #B1CEFF;
}
.legend-color.legend-daysoff {
  background: #FAD1B3;
}
.legend-color.legend-paid-leave {
  background: #DDDDE0;
}
.legend-color.legend-home-office {
  background: #C3F9FF;
}
.legend-color.legend-public-holiday {
  background: #E6C6FF;
}
.error-badge {
  display: inline-block;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #d8483e;
  color: white;
  font-weight: 700;
}
.error-badge:before {
  content: "\f06a";
  font-family: 'Font Awesome 5 Free';
  margin-right: 10px ;
  color: #ffe799;
}
.archived-project {
  display: none;
}
