@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: "Themify";
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/themify.eot);
  src: url(/assets/fonts/themify.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/themify.woff) format("woff");
}
* {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Roboto", sans-serif;
  color: #42423c;
  font-size: 14px;
  background: #e3e3e3;
}
.container {
  min-width: 100%;
  width: 100%;
  padding: 24px;
}
@media (max-width: 768px) {
  .container {
    min-width: 100%;
    padding: 15px;
  }
}
.bg-light {
  background: #f5f5f4 !important;
}
a {
  color: #1E9BCC;
}
p {
  margin-bottom: 0.3rem;
}
.btn {
  border-radius: 1px;
  font-size: 15px;
  line-height: 24px;
  min-width: 24px;
  font-weight: 700;
  cursor: pointer;
}
.btn-highlight {
  position: relative;
  background: #1E9BCC;
  color: white;
  border: 0;
}
.btn-highlight:hover {
  background: #0f4d66;
  color: white;
}
.btn-highlight:disabled {
  background: #7c7c78;
  color: white;
  cursor: not-allowed;
}
.btn-alert {
  background: #d8483e;
  color: white;
  border: 0;
}
.btn-alert:hover {
  background: #bd3026;
  color: white !important;
}
.btn-alert:disabled {
  background: #7c7c78;
  color: white;
  cursor: not-allowed;
}
.btn-action {
  color: #42423c;
  transition: all 0.12s linear;
}
.btn-action:hover {
  color: #1E9BCC;
}
.btn-idle {
  background: #696964;
  transition: all 0.12s linear;
}
a:not([href]):not([tabindex]):hover {
  color: #1E9BCC;
}
.btn-btm-rhgt {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
.remove-team-member1,
.remove-team-member2 {
  padding-right: 0;
  padding-left: 0;
}
.vct-icon {
  color: #696964;
  transition: all 0.12s linear;
  cursor: pointer;
}
.vct-icon:hover {
  color: #42423c;
}
.vct-navi-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c0e7f6;
  margin: 0;
  padding: 2px 6px;
  background: #42423c;
}
label {
  display: block;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5d5d54;
}
input,
textarea,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 6px 4px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #959592;
  border-radius: 2px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
  font-size: 14px;
}
input:focus,
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border: 1px solid #1E9BCC;
}
input::placeholder,
textarea::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder {
  font-size: 12px;
}
input:disabled {
  background-color: #ebebeb;
  color: #696964;
}
input.negative-value:disabled {
  background-color: rgba(190, 30, 45, 0.1);
}
textarea {
  border: 1px solid #959592;
  line-height: 18px;
  padding: 2px 4px;
}
textarea:disabled {
  background: #ebebeb;
  color: #42423c;
}
input[name="total"] {
  font-weight: 700;
}
input.filter-projects {
  position: relative;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid #aeaeac;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  background: transparent;
}
input.filter-projects:focus {
  border-bottom: 1px solid #1E9BCC;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}
input.filter-projects::placeholder {
  text-align: center;
}
.easy-autocomplete-container ul li.selected {
  color: white;
  background: none repeat scroll 0 0 #1E9BCC;
  cursor: pointer;
}
.easy-autocomplete input {
  font-size: 14px;
  display: block;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #959592;
  border-radius: 2px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
  resize: none;
  width: 100%;
}
.easy-autocomplete input:focus {
  border: 1px solid #1E9BCC;
}
.negative-value {
  background: rgba(190, 30, 45, 0.1);
  color: #42423c;
  border: 1px solid #be1e2d !important;
}
.nav-down {
  transition: all 0.2s linear;
}
.nav-up {
  margin-top: -48px !important;
  transition: all 0.2s linear;
}
.tooltip .tooltip-inner {
  text-align: left;
  font-family: "Noto Sans", sans-serif;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  color: #42423c;
  text-shadow: none;
  opacity: 0.5;
}
.close:hover {
  color: #1E9BCC;
}
.text-highlight {
  color: #1E9BCC;
}
.remove-team-member {
  transition: all 0.12s linear;
  cursor: pointer;
}
.remove-team-member:hover {
  color: #1E9BCC;
}
.alert {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  padding: 2px 10px;
  border-radius: 2px;
  z-index: 99;
  background: #d8483e;
  color: white;
}
.validation-summary-valid {
  display: none;
}
.vtc-hide {
  animation: fadeinout 0.1s linear forwards;
}
.vtc-show {
  animation: fadeinout 0.1s linear backwards;
}
.error-message {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding: 0 4px;
  font-weight: bold;
  color: white;
  background-color: #d8483e;
  display: block;
  clear: both;
  margin-top: 10px;
}
.error-message::before {
  font-family: "Themify";
  content: "\e6c5";
  color: yellow;
  margin-right: 6px;
  line-height: 18px;
}
.warning-message {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding: 0 4px;
  font-weight: bold;
  color: white;
  background-color: #1E9BCC;
  display: block;
  clear: both;
  margin-top: 10px;
  width: auto;
}
.warning-message::before {
  font-family: "Themify";
  content: "\e602";
  color: white;
  margin-right: 6px;
  line-height: 18px;
}
@keyframes fadeinout {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeinout {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.lds-dual-ring-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  transition: all 0.12s linear;
  z-index: 100;
}
.lds-dual-ring-bg .lds-dual-ring {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 64px;
  height: 64px;
  z-index: 101;
}
.lds-dual-ring-bg .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #1E9BCC transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}
.vct-top-nav {
  position: fixed;
  margin-top: 0;
  display: block;
  float: left;
  width: 100%;
  height: 48px;
  z-index: 2;
}
.vct-top-nav .vct-user-menu .vct-user-menu-block {
  display: none;
  width: 200px;
  position: absolute;
  right: 5px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.17);
}
.vct-top-nav .vct-user-menu .vct-user-menu-block ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.vct-top-nav .vct-user-menu .vct-user-menu-block ul li {
  text-align: right;
}
.vct-top-nav .vct-user-menu .vct-user-menu-block ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
}
.vct-top-nav .vct-user-menu .vct-user-menu-block .vct-user-menu-block-arrow {
  position: absolute;
  top: -5px;
  right: 13px;
  width: 10px;
  height: 10px;
  background: white;
  transform: rotate(45deg);
}
.vct-top-nav .vct-user-menu .vct-user-profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  margin: 8px;
  overflow: hidden;
  font-size: 16px;
}
.vct-top-nav .vct-user-menu .vct-user-profile-image i {
  line-height: 32px;
}
.vct-top-nav .vct-user-menu .vct-user-profile-image i:hover {
  color: #1E9BCC;
}
.vct-top-nav .vct-user-menu .vct-user-profile-image img {
  width: 32px;
}
a.vct-back {
  text-decoration: none;
  font-weight: 400;
  color: #42423c;
}
.vct-left-nav {
  position: fixed;
  background: #42423c;
  width: 250px;
  height: 100vh;
  z-index: 3;
  display: block;
  transition: all 0.12s linear;
}
.vct-left-nav .vct-logo {
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
}
.hide-left {
  margin-left: -250px;
}
.vct-left-nav-wrapper {
  width: 250px;
  height: 100vh;
  overflow: auto;
}
ul.vct-nav-menu {
  list-style: none;
  padding: 0;
}
ul.vct-nav-menu li {
  display: block;
}
ul.vct-nav-menu li .selected {
  color: #67c4e9;
  background: #353530;
}
ul.vct-nav-menu li .selected:hover {
  color: #67c4e9;
  background: #353530;
}
ul.vct-nav-menu a {
  display: block;
  width: 100%;
  padding: 15px 20px;
  color: white;
  font-size: 12px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.12s linear;
}
ul.vct-nav-menu a:hover {
  background: #1E9BCC;
}
ul.vct-nav-menu a i {
  color: white;
}
ul.vct-nav-menu .has-level1::after {
  font-family: "Themify";
  content: "\e64b";
  color: white;
  float: right;
}
ul.vct-nav-menu .has-level1-t::after {
  font-family: "Themify";
  content: "\e648";
  color: white;
  float: right;
}
ul.vct-nav-menu ul.vct-nav-level1 {
  list-style: none;
  padding: 0;
}
ul.vct-nav-menu ul.vct-nav-level1 li a {
  background: #25aadf;
  padding-left: 20px;
  text-transform: none;
  font-size: 13px;
}
ul.vct-nav-menu ul.vct-nav-level1 li a:hover {
  background: #1779a0;
}
ul.vct-nav-menu ul.vct-nav-level1 li .selected {
  background: #1779a0;
  color: #67c4e9;
}
ul.vct-nav-menu ul.vct-nav-level1 li .selected:hover {
  background: #1779a0;
  color: #67c4e9;
  cursor: default;
}
.vct-left-nav-toggle {
  position: absolute;
  top: 8px;
  right: -40px;
  width: 32px;
  height: 32px;
  transition: all 0.12s linear;
  cursor: pointer;
}
.vct-left-nav-toggle i {
  font-size: 18px;
  line-height: 32px;
  transition: all 0.12s linear;
}
.vct-left-nav-toggle:hover {
  color: #1E9BCC;
}
.vct-content {
  position: absolute;
  top: 48px;
  left: 250px;
  width: calc(100% - 250px);
  display: block;
  max-width: 1920px;
  transition: all 0.12s linear;
}
@media (max-width: 1024px) {
  .vct-content {
    width: 100% !important;
    left: 0;
  }
}
.expanded {
  width: 100%;
  left: 0;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15) !important;
}
.no-results {
  color: #bbbbb9;
}
.reset-query {
  position: absolute;
  top: 6px;
  right: 6px;
  line-height: 48px;
}
.user-profile-name {
  padding: 10px 10px 0px 10px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.25px;
  color: #42423c;
  line-height: 20px;
}
.user-profile-position {
  padding: 0px 10px 10px 10px;
  font-size: 12px;
  color: #696964;
}
label.btn {
  margin: 0;
}
.item-menu {
  width: 20px;
  position: relative !important;
  cursor: pointer;
  text-align: center !important;
  font-size: 16px;
  color: rgba(66, 66, 60, 0.6);
}
.item-menu:hover {
  color: #1E9BCC;
}
.item-menu .item-menu-wrapper {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  margin-right: -6px;
  background: white;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  z-index: 3;
}
.item-menu .item-menu-wrapper .arrow {
  position: absolute;
  top: 0;
  right: 11px;
  width: 10px;
  height: 10px;
  margin-top: -6px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  transform: rotate(45deg);
}
.item-menu .item-menu-wrapper ul {
  list-style: none;
  padding: 0;
}
.item-menu .item-menu-wrapper ul .item-menu-title {
  display: block;
  color: rgba(66, 66, 60, 0.5);
  padding: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 11px;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: default;
}
.item-menu .item-menu-wrapper ul li a {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  padding: 14px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-align: right;
  float: right;
}
.item-menu .item-menu-wrapper ul li a:hover {
  color: white;
  background: #1E9BCC;
}
.table-global th {
  background: white;
  padding: 10px 0;
}
.table-global tr {
  background: #f5f5f4;
}
.table-global tr:hover {
  background: #c0e7f6;
}
.table-global tr td:last-of-type {
  width: 40px;
}
.table-global tr:nth-child(even) {
  background: white;
}
.table-global tr:nth-child(even):hover {
  background: #c0e7f6;
}
.table-global td {
  padding: 10px;
}
.booking-error {
  color: #d8483e;
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.booking-ok {
  color: #42423c;
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.booking {
  display: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.booking span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #42423c;
}
.confirmation {
  color: #228B22;
}
.error {
  color: #d8483e;
}
.hrs {
  display: block;
  width: 38px;
  height: 38px;
  float: right;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  letter-spacing: -0.35px;
}
.more {
  background: #228B22;
  color: white;
}
.less {
  background: #d8483e;
  color: white;
}
.inquiry-confirm {
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  background-color: transparent !important;
}
.finish-payoff {
  cursor: pointer;
}
