@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
@font-face {
  font-family: "Themify";
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/themify.eot);
  src: url(/assets/fonts/themify.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/themify.woff) format("woff");
}
body {
  font-family: 'Noto Sans', sans-serif;
  color: #42423c;
  font-size: 14px;
}
.container {
  min-width: 100%;
  padding: 15px;
}
.btn {
  border-radius: 2px;
  font-size: 14px;
}
.btn-highlight {
  background: #1E90FF;
  color: white;
}
.btn-highlight:hover {
  background: #0077ea;
  color: white;
}
.btn-highlight:disabled {
  background: #7c7c78;
  color: white;
  cursor: not-allowed;
}
.btn-alert {
  background: #EA5145;
  color: white;
}
.btn-alert:hover {
  background: #e2281a;
  color: white !important;
}
.btn-alert:disabled {
  background: #7c7c78;
  color: white;
  cursor: not-allowed;
}
.btn-action {
  color: #42423c;
  transition: all 0.12s linear;
}
.btn-action:hover {
  color: #1E90FF;
}
.vct-icon {
  color: #696964;
  transition: all 0.12s linear;
  cursor: pointer;
}
.vct-icon:hover {
  color: #42423c;
}
label {
  display: block;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #919186;
}
textarea,
input[type=text],
input[type=email],
input[type=number],
input[type=password] {
  display: block;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #959592;
  border-radius: 2px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
  resize: none;
}
textarea:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus {
  border: 1px solid #1E90FF;
}
textarea {
  border: 1px solid #959592;
}
input[name=total] {
  font-weight: 700;
}
.negative-value {
  background: #be1e2d !important;
  color: white;
  border-bottom: 1px solid white !important;
}
.nav-down {
  transition: all 0.2s linear;
}
.nav-up {
  margin-top: -48px !important;
  transition: all 0.2s linear;
}
.tooltip .tooltip-inner {
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  color: #42423c;
  text-shadow: none;
  opacity: .5;
}
.close:hover {
  color: #1E90FF;
}
.text-highlight {
  color: #1E90FF;
}
.vct-notification {
  display: none;
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translate(-50%);
  font-size: 14px;
  line-height: 14px;
  padding: 6px 10px;
  background-color: #EA5145;
  color: white;
  z-index: 10000;
  border-radius: 4px;
  max-width: 280px;
  text-align: center;
}
.remove-team-member {
  transition: all 0.12s linear;
  cursor: pointer;
}
.remove-team-member:hover {
  color: #1E90FF;
}
* {
  box-sizing: border-box;
}
.vct-top-nav {
  position: fixed;
  margin-top: 0;
  display: block;
  float: left;
  width: 100%;
  height: 48px;
  z-index: 1;
}
.vct-top-nav .vct-user-menu .vct-user-menu-block {
  display: none;
  width: 200px;
  position: absolute;
  right: 5px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.17);
}
.vct-top-nav .vct-user-menu .vct-user-menu-block ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.vct-top-nav .vct-user-menu .vct-user-menu-block ul li {
  text-align: right;
}
.vct-top-nav .vct-user-menu .vct-user-menu-block ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
}
.vct-top-nav .vct-user-menu .vct-user-menu-block .vct-user-menu-block-arrow {
  position: absolute;
  top: -5px;
  right: 13px;
  width: 10px;
  height: 10px;
  background: white;
  transform: rotate(45deg);
}
.vct-top-nav .vct-user-menu .vct-user-profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  margin: 8px;
  overflow: hidden;
  font-size: 16px;
}
.vct-top-nav .vct-user-menu .vct-user-profile-image i {
  line-height: 32px;
}
.vct-top-nav .vct-user-menu .vct-user-profile-image img {
  width: 32px;
}
a.vct-back {
  text-decoration: none;
  font-weight: 400;
  color: #42423c;
}
.vct-left-nav {
  position: fixed;
  background: #42423c;
  width: 250px;
  height: 100vh;
  z-index: 2;
  display: block;
}
.vct-left-nav .vct-logo {
  font-size: 18px;
  font-weight: 700;
  padding: 30px;
}
.hide-left {
  margin-left: -250px;
}
.vct-left-nav-wrapper {
  width: 250px;
  height: 100vh;
  overflow: auto;
}
ul.vct-nav-menu {
  list-style: none;
  padding: 0;
}
ul.vct-nav-menu li {
  display: block;
}
ul.vct-nav-menu a {
  display: block;
  width: 100%;
  padding: 15px 30px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.12s linear;
}
ul.vct-nav-menu a:hover {
  background: #1E90FF;
}
ul.vct-nav-menu a i {
  color: white;
}
ul.vct-nav-menu .has-level1::after {
  font-family: "Themify";
  content: "\e64b";
  color: white;
  float: right;
}
ul.vct-nav-menu .has-level1-t::after {
  font-family: "Themify";
  content: "\e648";
  color: white;
  float: right;
}
ul.vct-nav-menu ul.vct-nav-level1 {
  display: none;
  list-style: none;
  padding: 0;
}
ul.vct-nav-menu ul.vct-nav-level1 li a {
  background: #389dff;
  padding-left: 60px;
  text-transform: none;
  font-size: 13px;
}
ul.vct-nav-menu ul.vct-nav-level1 li a:hover {
  background: #0077ea;
}
.vct-left-nav-toggle {
  position: absolute;
  top: 8px;
  right: -40px;
  width: 32px;
  height: 32px;
  transition: all 0.12s linear;
  cursor: pointer;
}
.vct-left-nav-toggle i {
  font-size: 18px;
  line-height: 32px;
  transition: all 0.12s linear;
}
.vct-left-nav-toggle:hover {
  color: #1E90FF;
}
.vct-content {
  position: absolute;
  top: 48px;
  left: 250px;
  width: calc(100% - 250px);
  display: block;
  transition: all 0.12s linear;
}
@media (max-width: 1024px) {
  .vct-content {
    width: 100% !important;
    left: 0;
  }
}
.expanded {
  width: 100%;
  left: 0;
}
