html {
  overflow-y: scroll;
}
body {
  background: #ebf0f5 !important;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  letter-spacing: -0.2px;
}
body ::-moz-selection {
  color: white;
  background: black;
}
body ::selection {
  color: white;
  background: black;
}
body.modal-open .vct-content {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.container {
  padding-bottom: 100px;
}
.btn {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  min-width: 100px;
  text-transform: uppercase;
  line-height: 21px;
  padding: 5px 20px;
  white-space: nowrap;
  border: 1px solid transparent;
}
.btn.btn-symbol {
  max-width: 33px;
  min-width: 33px;
  padding: 5px 5px;
  font-size: 18px;
}
.btn.btn-cancel {
  background: transparent;
}
.btn.btn-cancel:hover {
  background: #d8483e;
  color: white;
}
.btn.btn-project-time,
.btn.btn-project-edit {
  font-size: 16px;
  min-width: 50px !important;
  background-color: #1E9BCC;
  color: white;
  padding: 10px;
  line-height: 30px;
}
.btn.btn-project-time:hover,
.btn.btn-project-edit:hover {
  background: #146889;
}
.btn.btn-project-edit {
  background-color: #d8483e;
  color: white;
}
.btn.btn-project-edit:hover {
  background: #a82b22;
}
.vct-top-nav {
  background: white;
}
input {
  font-size: 13px !important;
  border-radius: 4px !important;
}
input.small-input {
  width: 42px;
}
input:disabled {
  background: #f0f2f7;
  font-weight: 700;
}
.item-menu-wrapper a {
  font-size: 13px !important;
  font-weight: 500;
  color: #1b8ab6;
  transition: all 0.12s linear;
}
.badge {
  font-size: 12px !important;
  line-height: 12px;
}
.time-module {
  display: block;
  width: 100%;
  background: white;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 15px;
  text-align: right;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.12s linear;
  border: 1px solid transparent;
  cursor: pointer;
}
.time-module .badge-success {
  background: #1f9c26;
}
.time-module .badge-success:hover {
  background: #1E9BCC;
}
.time-module:hover {
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  border: 1px solid #dadad6;
  background: rgba(255, 255, 255, 0.2);
}
.time-module.selected {
  box-shadow: none;
  border: 1px solid #cecec9;
  background: transparent;
}
.time-module .module-label {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  height: 24px;
  color: #5d5d54;
}
.time-module .module-icon {
  display: inline-flex;
  float: left;
  width: 50%;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
}
.time-module .module-icon i {
  color: #b5b5ae;
}
.time-module .module-icon i:hover {
  color: #b5b5ae;
}
.time-module .module-icon.selected {
  color: #1E9BCC;
}
.time-module .module-icon.selected i {
  color: #1E9BCC;
}
.time-module .module-data {
  display: inline-flex;
  font-size: 19px;
  font-weight: 900;
  letter-spacing: -0.8px;
  line-height: 19px;
  text-align: right;
}
.time-module .module-status {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  margin-top: 4px;
  margin-bottom: -2px;
}
.time-module .module-status.active {
  background: #1E9BCC;
  background-image: linear-gradient(90deg, #1E9BCC, #0e475d);
}
.panel-container,
.widget-container {
  background: white;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #ebebe9;
  min-height: 300px;
}
.panel-container .table-title,
.widget-container .table-title {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #42423c;
}
.panel-container .table-wrapper,
.widget-container .table-wrapper {
  max-width: 100%;
  overflow: auto;
}
.panel-container .table-wrapper table.panel-table,
.widget-container .table-wrapper table.panel-table {
  width: 100%;
}
.panel-container .table-wrapper table.panel-table.inv-history tbody tr,
.widget-container .table-wrapper table.panel-table.inv-history tbody tr {
  cursor: pointer;
}
.panel-container .table-wrapper table.panel-table.inv-history tbody .selected,
.widget-container .table-wrapper table.panel-table.inv-history tbody .selected {
  background-color: #94d5ef;
  cursor: default;
}
.panel-container .table-wrapper table.panel-table thead tr,
.widget-container .table-wrapper table.panel-table thead tr {
  border-bottom: 1px solid #919186;
  padding-bottom: 8px;
}
.panel-container .table-wrapper table.panel-table thead th,
.widget-container .table-wrapper table.panel-table thead th {
  padding: 8px 5px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #919186;
}
.panel-container .table-wrapper table.panel-table thead th i,
.widget-container .table-wrapper table.panel-table thead th i {
  color: #b5b5ae;
}
.panel-container .table-wrapper table.panel-table tbody tr,
.widget-container .table-wrapper table.panel-table tbody tr {
  border-bottom: none;
  transition: all 0.12s linear;
}
.panel-container .table-wrapper table.panel-table tbody tr:hover,
.widget-container .table-wrapper table.panel-table tbody tr:hover {
  background: #f2f2f1;
}
.panel-container .table-wrapper table.panel-table tbody tr td,
.widget-container .table-wrapper table.panel-table tbody tr td {
  padding: 8px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%;
  border-bottom: 1px solid #dadad6;
}
.panel-container .table-wrapper table.panel-table tbody tr td.log-comment,
.widget-container .table-wrapper table.panel-table tbody tr td.log-comment {
  white-space: initial !important;
}
.panel-container .table-wrapper table.panel-table tfoot tr,
.widget-container .table-wrapper table.panel-table tfoot tr {
  background: #edf8fc;
  font-weight: 600;
  border-bottom: 1px dotted #919186;
}
.panel-container .table-wrapper table.panel-table tfoot tr:last-of-type,
.widget-container .table-wrapper table.panel-table tfoot tr:last-of-type {
  background: #c0e7f6;
  border-bottom: none;
}
.panel-container .table-wrapper table.panel-table tfoot tr td,
.widget-container .table-wrapper table.panel-table tfoot tr td {
  padding: 8px 5px;
}
.panel-container .table-toggle,
.widget-container .table-toggle {
  background: #1E9BCC;
  color: white;
  border-bottom: 2px solid white;
  transition: all 0.12s linear;
  border-radius: 4px;
  margin-bottom: 6px;
}
.panel-container .table-toggle:hover,
.widget-container .table-toggle:hover {
  background: #1779a0;
}
.panel-container .panel-table,
.widget-container .panel-table {
  background: white;
  padding: 15px !important;
}
.panel-container .panel-table td,
.widget-container .panel-table td {
  color: #42423c;
}
.panel-container .tab-title,
.widget-container .tab-title {
  font-size: 20px;
  font-weight: 600;
}
.panel-container .tab-title span,
.widget-container .tab-title span {
  font-weight: 600;
  font-size: 20px !important;
}
.item-menu {
  font-size: 14px;
  margin-right: -6px;
  color: #42423c;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
}
.item-menu:hover {
  background: #e6e6e4;
  color: #42423c;
}
.front {
  z-index: 2;
}
@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: none;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  animation-name: loader-rotation;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: #1E9BCC;
}
.small-loader {
  display: none;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  animation-name: loader-rotation;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: #1E9BCC;
}
.pdf-report {
  line-height: 24px;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
}
#days-free-data,
#days-previous-data,
#days-earned-data,
#days-assigned-data,
#days-sickleave-data,
#days-spent-data,
#total-work-hours-data,
#work-from-home-data,
#daily-time-tracking-data,
#timeline-data {
  display: none;
}
.booking-wrapper {
  background-image: url("/assets/images/vacation.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  border-radius: 4px;
}
.converter-wrapper {
  background-image: linear-gradient(210deg, #1E9BCC, #0e475d 85%);
  color: white;
  border-radius: 4px;
}
.vct-team {
  background: transparent !important;
}
.vct-team:hover {
  color: #1E9BCC;
}
.vct-team .vct-team-wrapper {
  text-align: center;
  position: relative;
  z-index: 0;
}
.vct-team .vct-team-wrapper img.vct-client-logo {
  height: 42px;
  margin-bottom: 20px;
  max-width: 180px;
}
.vct-team .vct-team-wrapper .status {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  line-height: 12px;
}
.vct-project-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
.vct-content {
  margin-bottom: 80px;
}
.vct-content .vct-project,
.vct-content .vct-teams,
.vct-content .team-data {
  background: white;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid #ebebe9;
}
.vct-content .team-data {
  position: relative;
  display: block;
}
.vct-content .team-data .no-frm-data {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #e60000;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: white;
  padding: 5px 8px;
  border-radius: 0px 4px 0px 4px;
}
.vct-content .team-data .no-frm-data i {
  color: yellow;
}
.vct-content .vct-teams {
  position: relative;
  top: 0;
  z-index: initial;
  box-shadow: none;
}
.vct-content .vct-teams.pinned {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 15px;
  z-index: 1;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  margin: 0 -10px;
}
.vct-content .project-logo img {
  height: 36px;
}
.vct-content .vct-project-name-wrapper {
  text-align: left;
  border-radius: 4px;
  width: 95%;
  float: left;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vct-content .vct-project-name-wrapper .client-name {
  margin-right: 8px;
  font-weight: 700;
}
.vct-content i {
  color: #1E9BCC;
}
.vct-content i:hover {
  color: #115773;
}
.vct-content .toggle {
  font-size: 15px;
  line-height: 15px;
  margin-right: 10px;
  color: #1E9BCC;
}
.vct-content .toggle:hover {
  color: #115773;
}
.vct-content .team-name {
  display: block;
  font-size: 16px;
  float: left;
  width: auto;
  line-height: 16px;
  font-weight: 700;
  color: #1E9BCC;
  cursor: pointer;
  transition: all 0.12s linear;
  text-decoration: none;
}
.vct-content .team-name:hover {
  color: #115773;
}
.vct-content .team-name:before {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  margin-right: 8px;
}
.vct-content .team-name.visible:before {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  margin-right: 8px;
}
.vct-content .team-name-add {
  display: block;
  font-size: 16px;
  float: left;
  width: auto;
  line-height: 16px;
  font-weight: 700;
  color: #1E9BCC;
  cursor: pointer;
  transition: all 0.12s linear;
  text-decoration: none;
}
.vct-content .team-name-add:hover {
  color: #115773;
}
.vct-content .team-name-add:before {
  content: "\f067";
  font-family: 'Font Awesome 5 Free';
  margin-right: 6px;
}
.vct-content .no-team {
  display: block;
  font-size: 16px;
  float: left;
  width: auto;
  line-height: 16px;
  font-weight: 700;
  color: #1E9BCC;
}
.vct-content .pin {
  font-size: 17px;
  line-height: 17px;
  transform: rotate(45deg);
  color: rgba(66, 66, 60, 0.6);
}
.vct-content .pin.pin-pinned {
  transform: rotate(0deg);
  color: #d8483e;
}
.vct-content .team-list {
  display: flex;
}
.vct-content .team-list .team-item {
  width: 100%;
  background: #f5f6fa;
  border-radius: 2px;
  padding: 10px 16px;
  margin-bottom: 8px;
  transition: all 0.12s linear;
  cursor: pointer;
}
.vct-content .team-list .team-item.selected {
  background: #1E9BCC;
  color: white;
}
.vct-content .team-list .team-item:hover {
  background: #67c4e9;
  color: white;
}
.vct-content .team-list .team-item.no-hover {
  background: #f5f6fa;
  cursor: auto;
}
.vct-content .team-list .team-item .team-item-name {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
.vct-content .team-data .team-member-image {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.vct-content .team-data .team-member-image img {
  width: 46px;
  height: 46px;
}
.vct-content .team-data .team-member-name {
  display: inline-block;
  font-size: 16px;
  line-height: 46px;
  height: 46px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  letter-spacing: -0.24px;
}
.vct-content .team-data .vct-team-location {
  background: transparent;
}
.vct-content .team-data .vct-team-location p {
  color: #42423c;
  text-transform: uppercase;
  font-size: 14px;
}
.vct-content .team-data .toggle-onsite {
  height: 33px;
  line-height: 33px;
  font-size: 15px;
  color: rgba(66, 66, 60, 0.5);
}
.vct-content .team-data .toggle-onsite:hover {
  color: #1E9BCC;
}
.vct-content .team-data .comment {
  height: 33px;
  padding: 6px 4px;
}
.vct-content .filter-members {
  line-height: 36px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.12s linear;
  padding-left: 48px;
}
.vct-content .filter-members:focus {
  border: 1px solid transparent;
  border: 1px solid rgba(30, 155, 204, 0.6);
}
.vct-content .search-icon {
  font-size: 14px;
  position: absolute;
  top: 18px;
  left: 18px;
  text-align: center;
  line-height: 14px;
  color: #b5b5ae;
}
.vct-content .reset-input {
  position: absolute;
  font-size: 18px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 15px;
  right: 15px;
  line-height: 18px;
  background-color: transparent;
  text-align: center;
  color: #d8483e;
  z-index: 0;
  cursor: pointer;
  transition: all 0.12s linear;
}
.vct-content .reset-input:hover {
  color: #92251e;
}
.modal-style {
  text-align: center;
}
.modal-style .image-background {
  background: #1E9BCC;
}
.modal-style .team-member-image {
  margin: 0 auto;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}
.modal-style .team-member-image img {
  width: 92px;
  height: 92px;
}
.modal-style .modal-title {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #42423c;
}
.modal-style .team-member-name {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.modal-style .data-title {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
}
.modal-style .data-value {
  font-size: 28px;
  font-weight: 300;
}
.modal-style .tm-data-value {
  font-size: 28px;
  font-weight: 300;
  color: #1E9BCC;
}
.modal-style .modal-table-project {
  color: white !important;
  padding: 8px 5px;
  text-align: left;
  border-bottom: 1px solid transparent;
  font-size: 12px;
  font-weight: 500 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.12s linear;
}
.modal-style .modal-table-project i {
  text-align: center;
  line-height: 32px;
  width: 32px;
  height: 32px;
  color: white !important;
}
.modal-style .modal-table-item {
  background: none;
  color: white !important;
  padding: 8px 5px;
  text-align: left;
  border-bottom: 1px solid transparent;
  font-size: 12px;
  font-weight: 500 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.12s linear;
}
.modal-style .close-modal {
  position: absolute;
  top: 6px;
  right: 25px;
  color: white;
  font-size: 20px;
}
.modal-style .close-modal:hover {
  color: rgba(255, 255, 255, 0.6);
}
.modal-style input {
  border: 1px solid #d3d3ce;
}
.modal-style textarea {
  border: 1px solid #d3d3ce;
}
.modal-style textarea:disabled {
  background: #f0f2f7;
}
.booking-responsibility input {
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 4px;
}
.booking-responsibility label {
  width: 90%;
  display: block;
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 10px;
  line-height: 18px;
  overflow: auto;
  text-overflow: initial;
  white-space: unset;
  color: white !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  border-radius: 2px;
  margin: 0;
  vertical-align: middle;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dadad6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 1px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #1f9c26;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1f9c26;
}
input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
.checkbox-label {
  line-height: 18px;
  font-size: 12px;
}
.vct-total-toggle-card a {
  font-weight: 600;
}
.vct-total-toggle-card i {
  color: white;
}
.add-member {
  margin: 7px 0px;
  min-width: 300px;
}
.vct-team-block {
  border: none !important;
}
.tab-button {
  display: block;
  background: transparent;
  border: none;
  border-bottom: 2px solid #caced3;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #a1a3a8;
  transition: all 0.12s linear;
  text-transform: uppercase;
  float: left;
}
.tab-button:focus {
  outline: none;
}
.tab-button.selected {
  border-bottom: 2px solid #1779a0;
  color: #1779a0;
}
.badge {
  font-weight: 500;
  letter-spacing: -0.2px;
}
.badge.badge-info {
  background: #1E9BCC;
}
.badge.badge-success {
  background: #1f9c26;
}
.badge.badge-danger {
  background: #d8483e;
}
.badge.badge-secondary {
  background: #696964;
}
.badge.badge-warning {
  background: #ffc400;
}
.badge.badge-light {
  background: #e6e6e4;
}
.badge.badge-dark {
  background: #272724;
}
.badge.badge-technology {
  background: #edf8fc;
  position: relative;
  border: 1px solid rgba(213, 213, 213, 0.7);
  padding-right: 22px;
}
.badge.badge-technology .close-badge {
  position: absolute;
  font-size: 12px;
  color: rgba(66, 66, 60, 0.5);
  line-height: 20px;
  right: 5px;
  top: 0;
  transition: all 0.12s linear;
  cursor: pointer;
}
.badge.badge-technology .close-badge:hover {
  color: #1E9BCC;
}
.badge.badge-earned-used {
  background: #115773;
  color: #fff;
}
.text-info {
  color: #1E9BCC !important;
}
.text-success {
  color: #1f9c26 !important;
}
.text-danger {
  color: #d8483e !important;
}
.text-secondary {
  color: #696964 !important;
}
.text-warning {
  color: #ffc400 !important;
}
.text-light {
  color: #e6e6e4;
}
.bg-info {
  background: #1E9BCC !important;
}
.bg-success {
  background: #1f9c26 !important;
}
.bg-danger {
  background: #d8483e !important;
}
.bg-secondary {
  background: #696964 !important;
}
.bg-warning {
  background: #ffc400 !important;
  color: #42423c !important;
}
.bg-light {
  background: #e6e6e4;
}
.campaign-input {
  height: 57px;
}
.export-all {
  position: absolute;
  top: 32px;
  right: 30px;
  z-index: 1;
}
@media (max-width: 768px) {
  .export-all {
    top: 24px;
    right: 24px;
  }
}
.all-projects {
  background: white;
}
#go-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 24px;
  z-index: 10;
  background: #1E9BCC;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  transition: all 0.12s linear;
  opacity: 0.4;
  cursor: pointer;
}
#go-top:hover {
  opacity: 1;
}
.vct-left-nav {
  position: fixed;
  background: #272724;
  width: 250px;
  height: 100vh;
  z-index: 3;
  display: block;
  transition: all 0.12s linear;
}
.vct-left-nav .vct-logo {
  background: black;
  height: 48px;
  padding: 10px 22px;
}
.vct-left-nav .vct-logo img {
  height: 20px;
}
.hide-left {
  margin-left: -250px;
}
.vct-left-nav-wrapper {
  width: 250px;
  height: 100vh;
  overflow: auto;
}
ul.vct-nav-menu {
  margin-top: 24px;
  list-style: none;
  padding: 0;
}
ul.vct-nav-menu li {
  display: block;
}
ul.vct-nav-menu li a {
  font-weight: 500;
  letter-spacing: 0.4px;
}
ul.vct-nav-menu li a .nav-icon {
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #4d4d4d;
  transition: all 0.12s linear;
}
ul.vct-nav-menu li .selected {
  color: #1E9BCC;
  background: transparent;
}
ul.vct-nav-menu li .selected i {
  color: #1E9BCC;
}
ul.vct-nav-menu li .selected:hover {
  color: white;
  background: transparent;
}
ul.vct-nav-menu li .selected:hover:after {
  color: white;
}
ul.vct-nav-menu li .selected:hover i {
  color: white;
}
ul.vct-nav-menu a {
  display: block;
  width: 100%;
  padding: 15px 20px;
  color: white;
  font-size: 12px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.12s linear;
}
ul.vct-nav-menu a:hover {
  background: transparent;
  color: #1E9BCC;
}
ul.vct-nav-menu a:hover:after {
  color: #1E9BCC;
}
ul.vct-nav-menu a:hover i {
  color: #1E9BCC;
}
ul.vct-nav-menu a i {
  color: white;
}
ul.vct-nav-menu .has-level1::after {
  font-family: "Themify";
  content: "\e64b";
  color: white;
  float: right;
}
ul.vct-nav-menu .has-level1.selected {
  color: #1E9BCC;
}
ul.vct-nav-menu .has-level1.selected:after {
  color: #1E9BCC;
}
ul.vct-nav-menu .has-level1.selected i {
  color: #1E9BCC;
}
ul.vct-nav-menu .has-level1-t::after {
  font-family: "Themify";
  content: "\e648";
  color: white;
  float: right;
}
ul.vct-nav-menu .has-level1-t.selected {
  color: #1E9BCC;
}
ul.vct-nav-menu .has-level1-t.selected:after {
  color: #1E9BCC;
}
ul.vct-nav-menu .has-level1-t.selected i {
  color: #1E9BCC;
}
ul.vct-nav-menu ul.vct-nav-level1 {
  list-style: none;
  padding: 0;
}
ul.vct-nav-menu ul.vct-nav-level1 li a {
  background: transparent !important;
  padding-left: 20px;
  text-transform: none;
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 70px;
}
ul.vct-nav-menu ul.vct-nav-level1 li a:hover {
  background: transparent;
}
ul.vct-nav-menu ul.vct-nav-level1 li a.selected {
  background: #1a1a18 !important;
  color: #1E9BCC;
}
ul.vct-nav-menu ul.vct-nav-level1 li a.selected:hover {
  background: transparent;
  color: white;
  cursor: default;
}
.error-message-wrapper .error-img {
  display: block;
  width: 250px;
  float: none;
  margin: 0 auto;
}
.error-message-wrapper .error-title {
  display: block;
  font-size: 38px;
  font-weight: 300;
  margin-top: 30px;
}
.error-message-wrapper .error-msg {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 400;
  margin-bottom: 30px;
}
.pointer {
  cursor: pointer;
}
.vct-user-menu-block {
  right: 12px !important;
}
.primary-title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(66, 66, 60, 0.7);
}
.primary-title a {
  text-decoration: none;
}
.primary-title a:hover {
  color: #42423c;
}
.blink-warning {
  background: #ffc400;
  color: #42423c !important;
  animation: blink 1.5s ease-in-out 1;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  16.66% {
    opacity: 0.5;
  }
  33.33% {
    opacity: 1;
  }
  49.98% {
    opacity: 0.5;
  }
  66.64% {
    opacity: 1;
  }
  83.3% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.border-top {
  border-top: 1px solid #d5d5d5 !important;
}
.border-bottom {
  border-bottom: 1px solid #d5d5d5 !important;
}
table.overview {
  width: 100%;
}
table.overview th,
table.overview td {
  width: 80px;
}
.overflow-visible {
  overflow: visible;
}
.vct-top-nav {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.element-header {
  background-image: linear-gradient(210deg, #1E9BCC, #0e475d 85%);
}
.chart-total-days {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chart-total-days .days-no {
  color: #1E9BCC;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  letter-spacing: -1px;
}
.chart-total-days .unit {
  color: #42423c;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}
.switch-label {
  height: 18px;
  display: inline-block;
  line-height: 18px;
  margin-right: 4px;
  vertical-align: middle;
}
.react-autosuggest__suggestions-container--open {
  width: 100%;
  max-height: 108px;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 2px;
  position: absolute;
  top: 30px;
}
.fc-unthemed td.fc-today {
  background: rgba(30, 155, 204, 0.15);
  color: #42423c;
}
.inv-block-wrapper {
  border: 1px solid #e1e1df;
  transition: all 0.12s linear;
  background: white;
  border-radius: 4px;
  height: 100%;
  position: relative;
}
.inv-block-wrapper .company-logo {
  height: 30px;
  max-width: 190px;
  display: block;
  text-align: center;
}
.inv-block-wrapper .contract-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
.inv-block-wrapper .contract-no:before {
  content: "Contract No. ";
}
.inv-block-wrapper .contract-no p {
  margin: 0;
}
.inv-block-wrapper .client-no:before {
  content: "Client No. ";
}
.inv-block-wrapper .client-no p {
  margin: 0;
}
.inv-block-wrapper .client-name {
  font-size: 14px !important;
  line-height: 14px !important;
  padding: 3px 8px;
}
.inv-block-wrapper .project-name {
  font-weight: 500;
}
.inv-block-wrapper .project-name:after {
  content: ", ";
}
.inv-block-wrapper .project-name:last-of-type:after {
  content: "";
}
.inv-block-wrapper:hover {
  box-shadow: none !important;
  border: 1px solid #1E9BCC;
}
.inv-block-wrapper.no-hover {
  border: 1px solid #e1e1df !important;
}
.file-input {
  opacity: 0;
  left: 0;
  top: 0;
  position: absolute;
}
#logo-img {
  max-height: 50px;
  max-width: 260px;
}
.select-height-fix {
  height: 33px;
  width: 100%;
}
.form-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 1s;
  text-transform: uppercase;
}
.form-title span {
  margin-right: 10px;
  transition: all 0.2s linear;
}
.history-entry span {
  margin-right: 10px;
  transition: all 0.2s linear;
}
.rotate {
  transform: rotate(-180deg);
  transition: all 0.2s linear;
}
.border-highlight {
  border-color: #1E9BCC !important;
  transition: all 0.12s linear;
}
.contract-section {
  border-radius: 2px;
}
.up:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  content: "\f062";
  color: #1f9c26;
  margin-right: 4px;
}
.down:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  content: "\f063";
  color: #d8483e;
  margin-right: 4px;
}
.no-change:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  content: "\f04d";
  color: #dadad6;
  margin-right: 4px;
}
.contract-suffix:after {
  content: " contract";
  text-transform: uppercase;
}
.cost-center-name:after {
  content: " cost center";
}
.invoice-preview-wrapper {
  width: 100%;
  min-height: 840px;
  height: 100%;
  overflow: auto;
}
.invoice-preview-wrapper .invoice-preview {
  width: 100%;
  min-width: 500px;
  max-width: 100%;
  height: 100%;
  min-height: 840px;
  overflow: hidden;
  font-size: 98% !important;
}
.invoice-preview-wrapper .invoice-preview.copy {
  background-image: url("/assets/images/copy-stamp-01.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: initial;
}
.invoice-preview-wrapper #company-logo img {
  height: 26px;
  float: right;
}
.invoice-preview-wrapper #invoice-title {
  border-bottom: 1px solid #42423c;
}
.eur:after {
  content: "EUR";
  margin-left: 4px;
}
.chf:after {
  content: "CHF";
  margin-left: 4px;
}
.rsd:after {
  content: "RSD";
  margin-left: 4px;
}
.ron:after {
  content: "RON";
  margin-left: 4px;
}
.gbp:after {
  content: "GBP";
  margin-left: 4px;
}
.cost-entries-sum {
  background: #efefef;
}
