body {
  background: #f5f6fa !important;
}
.btn {
  border-radius: 4px;
  font-size: 13px;
}
input {
  font-size: 13px !important;
  font-weight: 500;
}
.item-menu-wrapper a {
  font-size: 12px !important;
}
.badge {
  font-size: 12px !important;
  line-height: 12px;
}
.time-module {
  display: block;
  width: 100%;
  background: white;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 24px;
  text-align: right;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.12s linear;
  border: 1px solid transparent;
  cursor: pointer;
}
.time-module .badge-success {
  background: #228B22;
}
.time-module .badge-success:hover {
  background: #1E9BCC;
}
.time-module:hover {
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #dadad6;
}
.time-module.selected {
  box-shadow: none;
  border: 1px solid #cecec9;
  background: #edf8fc;
}
.time-module .module-label {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  height: 24px;
  color: #5d5d54;
}
.time-module .module-icon {
  display: inline-flex;
  float: left;
  width: 50%;
  text-align: left;
  color: #cecec9;
  font-size: 24px;
}
.time-module .module-icon.selected {
  color: #1E9BCC;
}
.time-module .module-data {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 20px;
  text-align: right;
}
.time-module .module-status {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  margin-top: 10px;
  margin-bottom: -3px;
}
.time-module .module-status.active {
  background: #1E9BCC;
  background-image: linear-gradient(90deg, #3bb3e2, #1779a0);
}
.panel-container {
  background: white;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #ebebe9;
  min-height: 300px;
}
.panel-container .table-title {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #42423c;
}
.panel-container table.panel-table {
  width: 100%;
  min-width: 280px !important;
  overflow: scroll;
}
.panel-container table.panel-table thead tr {
  border-bottom: 1px solid #919186;
  padding-bottom: 8px;
}
.panel-container table.panel-table thead th {
  padding: 8px 5px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #919186;
}
.panel-container table.panel-table tbody tr {
  border-bottom: 1px dashed #6a6a60;
  transition: all 0.12s linear;
}
.panel-container table.panel-table tbody tr:hover {
  background: #f2f2f1;
}
.panel-container table.panel-table tbody tr td {
  padding: 8px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%;
}
.panel-container table.panel-table tfoot tr {
  background: #edf8fc;
  font-weight: 600;
}
.panel-container table.panel-table tfoot tr td {
  padding: 8px 5px;
}
.panel-container .tab-title {
  font-size: 20px;
  font-weight: 600;
}
.panel-container .tab-title span {
  font-weight: 600;
  font-size: 20px !important;
}
.item-menu {
  font-size: 15px;
  margin-right: -6px;
}
#days-free-data,
#days-previous-data,
#days-earned-data,
#days-assigned-data,
#days-sickleave-data,
#days-spent-data {
  display: none;
}
.booking-wrapper {
  background-image: url('../images/vacation.jpg');
  background-size: cover;
  background-position: center center;
  color: white;
  border-radius: 4px;
}
.converter-wrapper {
  background: #1E9BCC;
  color: white;
  border-radius: 4px;
}
.vct-content .vct-project,
.vct-content .vct-teams,
.vct-content .team-data {
  background: white;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid #ebebe9;
}
.vct-content .vct-teams {
  position: relative;
  top: 0;
  z-index: initial;
  box-shadow: none;
}
.vct-content .vct-teams.pinned {
  position: sticky;
  top: 15px;
  z-index: 1;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  margin: 0 -10px;
}
.vct-content .project-logo img {
  height: 40px;
}
.vct-content .vct-project-name-wrapper {
  text-align: left;
  border-radius: 4px;
  width: 95%;
  float: left;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vct-content .vct-project-name-wrapper .client-name {
  margin-right: 8px;
  font-weight: 700;
}
.vct-content i {
  color: #1E9BCC;
}
.vct-content i:hover {
  color: #115773;
}
.vct-content .toggle {
  font-size: 15px;
  line-height: 15px;
  margin-right: 10px;
  color: #1E9BCC;
}
.vct-content .toggle:hover {
  color: #115773;
}
.vct-content .team-name {
  display: block;
  font-size: 16px;
  float: left;
  width: auto;
  line-height: 16px;
  font-weight: 700;
  color: #1E9BCC;
  cursor: pointer;
  transition: all 0.12s linear;
  text-decoration: none;
}
.vct-content .team-name:before {
  content: "\f077";
  font-family: 'Font Awesome 5 Free';
  margin-right: 8px;
}
.vct-content .team-name:after {
  content: "Team";
}
.vct-content .team-name.visible:before {
  content: "\f078";
  font-family: 'Font Awesome 5 Free';
  margin-right: 8px;
}
.vct-content .pin {
  font-size: 17px;
  line-height: 17px;
  transform: rotate(45deg);
  color: rgba(66, 66, 60, 0.6);
}
.vct-content .pin.pin-pinned {
  transform: rotate(0deg);
  color: #d8483e;
}
.vct-content .team-list {
  display: flex;
}
.vct-content .team-list .team-item {
  width: 100%;
  background: #f5f6fa;
  border-radius: 4px;
  padding: 10px 16px;
  border: 1px solid #ebebe9;
  margin-bottom: 8px;
  transition: all 0.12s linear;
  cursor: pointer;
}
.vct-content .team-list .team-item.selected {
  background: #67c4e9;
  color: white;
}
.vct-content .team-list .team-item:hover {
  background: #67c4e9;
  color: white;
}
.vct-content .team-list .team-item .team-item-name {
  font-size: 12px;
  font-weight: 600;
}
.vct-content .team-data .team-member-image {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.vct-content .team-data .team-member-image img {
  width: 46px;
  height: 46px;
}
.vct-content .team-data .team-member-name {
  display: inline-block;
  font-size: 16px;
  line-height: 46px;
  height: 46px;
  font-weight: 600;
}
.vct-content .team-data .vct-team-location {
  background: transparent;
}
.vct-content .team-data .vct-team-location p {
  color: #42423c;
  text-transform: uppercase;
  font-size: 14px;
}
.vct-content .team-data .toggle-onsite {
  height: 33px;
  line-height: 33px;
  font-size: 15px;
  color: rgba(66, 66, 60, 0.5);
}
.vct-content .team-data .toggle-onsite:hover {
  color: #1E9BCC;
}
.vct-content .team-data .comment {
  height: 33px;
  padding: 6px 4px;
}
.vct-content .reset-input {
  position: absolute;
  top: 0px;
  right: 8px;
  line-height: 33px;
  display: none;
}
