html {
  overflow-y: scroll ;
}
body {
  background: #f0f2f7 !important;
  min-height: 100vh;
}
.btn {
  border-radius: 4px;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.5px;
  min-width: 120px;
  text-transform: uppercase;
}
.btn.btn-cancel {
  background: #ededec;
}
.btn.btn-cancel:hover {
  background: #d8483e;
  color: white;
}
input {
  font-size: 13px !important;
}
input:disabled {
  background: #f0f2f7;
  font-weight: 700;
}
input.filter-members {
  border: 1px solid #ebebe9;
}
.item-menu-wrapper a {
  font-size: 12px !important;
}
.badge {
  font-size: 12px !important;
  line-height: 12px;
}
.time-module {
  display: block;
  width: 100%;
  background: white;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 15px;
  text-align: right;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.12s linear;
  border: 1px solid transparent;
  cursor: pointer;
}
.time-module .badge-success {
  background: #228B22;
}
.time-module .badge-success:hover {
  background: #1E9BCC;
}
.time-module:hover {
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  border: 1px solid #dadad6;
  background: rgba(255, 255, 255, 0.2);
}
.time-module.selected {
  box-shadow: none;
  border: 1px solid #cecec9;
  background: #edf8fc;
}
.time-module .module-label {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  height: 24px;
  color: #5d5d54;
}
.time-module .module-icon {
  display: inline-flex;
  float: left;
  width: 50%;
  text-align: left;
  font-size: 24px;
}
.time-module .module-icon i {
  color: #b5b5ae;
}
.time-module .module-icon i:hover {
  color: #b5b5ae;
}
.time-module .module-icon.selected {
  color: #1E9BCC;
}
.time-module .module-icon.selected i {
  color: #1E9BCC;
}
.time-module .module-data {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 20px;
  text-align: right;
}
.time-module .module-status {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  margin-top: 10px;
  margin-bottom: -3px;
}
.time-module .module-status.active {
  background: #1E9BCC;
  background-image: linear-gradient(90deg, #3bb3e2, #1779a0);
}
.panel-container,
.widget-container {
  background: white;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #ebebe9;
  min-height: 300px;
}
.panel-container .table-title,
.widget-container .table-title {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #42423c;
}
.panel-container .table-wrapper,
.widget-container .table-wrapper {
  max-width: 100%;
  overflow: auto;
}
.panel-container .table-wrapper table.panel-table,
.widget-container .table-wrapper table.panel-table {
  width: 100%;
}
.panel-container .table-wrapper table.panel-table thead tr,
.widget-container .table-wrapper table.panel-table thead tr {
  border-bottom: 1px solid #919186;
  padding-bottom: 8px;
}
.panel-container .table-wrapper table.panel-table thead th,
.widget-container .table-wrapper table.panel-table thead th {
  padding: 8px 5px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #919186;
}
.panel-container .table-wrapper table.panel-table thead th i,
.widget-container .table-wrapper table.panel-table thead th i {
  color: #b5b5ae;
}
.panel-container .table-wrapper table.panel-table tbody tr,
.widget-container .table-wrapper table.panel-table tbody tr {
  border-bottom: 1px dotted #919186;
  transition: all 0.12s linear;
}
.panel-container .table-wrapper table.panel-table tbody tr:hover,
.widget-container .table-wrapper table.panel-table tbody tr:hover {
  background: #f2f2f1;
}
.panel-container .table-wrapper table.panel-table tbody tr td,
.widget-container .table-wrapper table.panel-table tbody tr td {
  padding: 8px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%;
}
.panel-container .table-wrapper table.panel-table tfoot tr,
.widget-container .table-wrapper table.panel-table tfoot tr {
  background: #edf8fc;
  font-weight: 600;
}
.panel-container .table-wrapper table.panel-table tfoot tr td,
.widget-container .table-wrapper table.panel-table tfoot tr td {
  padding: 8px 5px;
}
.panel-container .tab-title,
.widget-container .tab-title {
  font-size: 20px;
  font-weight: 600;
}
.panel-container .tab-title span,
.widget-container .tab-title span {
  font-weight: 600;
  font-size: 20px !important;
}
.item-menu {
  font-size: 15px;
  margin-right: -6px;
}
#days-free-data,
#days-previous-data,
#days-earned-data,
#days-assigned-data,
#days-sickleave-data,
#days-spent-data,
#total-work-hours-data {
  display: none;
}
.booking-wrapper {
  background-image: url('../images/vacation.jpg');
  background-size: cover;
  background-position: center center;
  color: white;
  border-radius: 4px;
}
.converter-wrapper {
  background: #1E9BCC;
  color: white;
  border-radius: 4px;
}
.vct-content .vct-project,
.vct-content .vct-teams,
.vct-content .team-data {
  background: white;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid #ebebe9;
}
.vct-content .vct-teams {
  position: relative;
  top: 0;
  z-index: initial;
  box-shadow: none;
}
.vct-content .vct-teams.pinned {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 15px;
  z-index: 1;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  margin: 0 -10px;
}
.vct-content .project-logo img {
  height: 36px;
}
.vct-content .vct-project-name-wrapper {
  text-align: left;
  border-radius: 4px;
  width: 95%;
  float: left;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vct-content .vct-project-name-wrapper .client-name {
  margin-right: 8px;
  font-weight: 700;
}
.vct-content i {
  color: #1E9BCC;
}
.vct-content i:hover {
  color: #115773;
}
.vct-content .toggle {
  font-size: 15px;
  line-height: 15px;
  margin-right: 10px;
  color: #1E9BCC;
}
.vct-content .toggle:hover {
  color: #115773;
}
.vct-content .team-name {
  display: block;
  font-size: 16px;
  float: left;
  width: auto;
  line-height: 16px;
  font-weight: 700;
  color: #1E9BCC;
  cursor: pointer;
  transition: all 0.12s linear;
  text-decoration: none;
}
.vct-content .team-name:hover {
  color: #115773;
}
.vct-content .team-name:before {
  content: "\f077";
  font-family: 'Font Awesome 5 Free';
  margin-right: 8px;
}
.vct-content .team-name:after {
  content: " Team";
}
.vct-content .team-name.visible:before {
  content: "\f078";
  font-family: 'Font Awesome 5 Free';
  margin-right: 8px;
}
.vct-content .pin {
  font-size: 17px;
  line-height: 17px;
  transform: rotate(45deg);
  color: rgba(66, 66, 60, 0.6);
}
.vct-content .pin.pin-pinned {
  transform: rotate(0deg);
  color: #d8483e;
}
.vct-content .team-list {
  display: flex;
}
.vct-content .team-list .team-item {
  width: 100%;
  background: #f5f6fa;
  border-radius: 4px;
  padding: 10px 16px;
  border: 1px solid #ebebe9;
  margin-bottom: 8px;
  transition: all 0.12s linear;
  cursor: pointer;
}
.vct-content .team-list .team-item.selected {
  background: #67c4e9;
  color: white;
}
.vct-content .team-list .team-item:hover {
  background: #67c4e9;
  color: white;
}
.vct-content .team-list .team-item .team-item-name {
  font-size: 12px;
  font-weight: 600;
}
.vct-content .team-data .team-member-image {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.vct-content .team-data .team-member-image img {
  width: 46px;
  height: 46px;
}
.vct-content .team-data .team-member-name {
  display: inline-block;
  font-size: 16px;
  line-height: 46px;
  height: 46px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}
.vct-content .team-data .vct-team-location {
  background: transparent;
}
.vct-content .team-data .vct-team-location p {
  color: #42423c;
  text-transform: uppercase;
  font-size: 14px;
}
.vct-content .team-data .toggle-onsite {
  height: 33px;
  line-height: 33px;
  font-size: 15px;
  color: rgba(66, 66, 60, 0.5);
}
.vct-content .team-data .toggle-onsite:hover {
  color: #1E9BCC;
}
.vct-content .team-data .comment {
  height: 33px;
  padding: 6px 4px;
}
.vct-content .reset-input {
  position: absolute;
  top: 0px;
  right: 8px;
  line-height: 33px;
  display: none;
}
.modal-style {
  text-align: center;
}
.modal-style .image-background {
  background: #1E9BCC;
}
.modal-style .team-member-image {
  margin: 0 auto;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}
.modal-style .team-member-image img {
  width: 92px;
  height: 92px;
}
.modal-style .modal-title {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #42423c;
}
.modal-style .team-member-name {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.modal-style .data-title {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
}
.modal-style .data-value {
  font-size: 28px;
  font-weight: 300;
}
.modal-style .tm-data-value {
  font-size: 28px;
  font-weight: 300;
  color: #1E9BCC;
}
.modal-style .modal-table-project {
  background: #67c4e9;
  color: white !important;
  padding: 8px 5px;
  text-align: left;
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
}
.modal-style .close-modal {
  position: absolute;
  top: 6px;
  right: 25px;
  color: white;
  font-size: 20px;
}
.modal-style .close-modal:hover {
  color: rgba(255, 255, 255, 0.6);
}
.modal-style input {
  border: 1px solid #d3d3ce;
}
.modal-style .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  border-radius: 2px;
  margin: 0;
}
.modal-style .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.modal-style .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dadad6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.modal-style .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 1px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.modal-style input:checked + .slider {
  background-color: #228B22;
}
.modal-style input:focus + .slider {
  box-shadow: 0 0 1px #228B22;
}
.modal-style input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
.modal-style .checkbox-label {
  line-height: 18px;
  font-size: 12px;
}
.vct-total-toggle-card a {
  font-weight: 600;
}
.vct-total-toggle-card i {
  color: white;
}
.add-member {
  margin: 7px 0px;
  min-width: 300px;
}
.vct-team {
  background: transparent !important;
}
.vct-team-block {
  border: none !important;
}
.vct-team .vct-team-wrapper {
  text-align: center;
}
.vct-team .vct-team-wrapper img.vct-client-logo {
  width: 80%;
  margin-top: 20px;
}
.tab-button {
  display: inline-block;
  background: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #919186;
  transition: all 0.12s linear;
}
.tab-button:focus {
  outline: none;
}
.tab-button.selected {
  border-bottom: 3px solid #1E9BCC;
  color: #1779a0;
}
