@import "variables";

body{
    background: #f5f6fa !important;
}

.btn{
    border-radius: 4px;
}

.time-module{
    display: block;
    width:100%;
    background: white;
    border-radius: 4px;
    padding: 8px;
    margin-bottom:24px;
    text-align: right;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    transition: @mainTransition;
    border:1px solid transparent;
    cursor: pointer;
    .badge-success{
        background: @confirmColor;
        &:hover{
            background: @highlightColor;
        }
    }
    &:hover{
        box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.25);
        border:1px solid lighten(@basetextColor, 60%);
    }
    &.selected{
        box-shadow: none;
        border:1px solid lighten(@basetextColor, 55%);
        background: lighten(@highlightColor,50%);
    }
    .module-label{
        display: block;
        width: 100%;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 500;
        line-height: 11px;
        height: 24px;
        color:lighten(@basetextColor, 10%);
    }
    .module-icon{
        display: inline-flex;
        float: left;
        width:50%;
        text-align: left;
        color: lighten(@basetextColor, 65%);
        font-size: 24px;
    }
    .module-data{
        display: inline-flex;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -.3px;
        line-height: 20px;
        text-align: right;
        text-align: right;
    }
    .module-status{
        width:100%;
        height:4px;
        border-radius: 2px;
        background:transparent;
        margin-top:10px;
        margin-bottom: -3px;
        &.active{
            background: @highlightColor;
            background-image: linear-gradient(90deg, darken(@highlightColor, 10%), lighten(@highlightColor, 20%), darken(@highlightColor, 10%));
        }
    }
}

.panel-container{
    background: white;
    padding:24px;
    border-radius: 4px;
    border:1px solid lighten(@basetextColor, 67%);
    //padding-bottom: 100px;
    min-height: 300px;
    .table-title{
        display: block;
        float: left;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 1px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 30px;
        color:lighten(@basetextColor, 10%);
    }
    table.panel-table{
        min-width: 100%;
        thead{
            tr{
                border-bottom: 1px solid lighten(@basetextColor, 30%);
                padding-bottom: 8px;
            }
            th{
                padding: 8px 5px;
                white-space: nowrap;
                overflow: hidden;
                font-weight: 400;
                text-overflow: ellipsis;
                color:lighten(@basetextColor, 30%);
            }
        }
        tbody{
            tr{
                border-bottom: 1px dashed lighten(@basetextColor, 15%);
                transition: @mainTransition;
                &:hover{
                    background: lighten(@basetextColor, 70%);
                }
                td{
                    padding: 8px 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width:20%;
                }
            }
        }
        tfoot{
            tr{
                background: lighten(@highlightColor,50%);
                font-weight: 600;
                td{
                    padding: 8px 5px;
                }
            }
        }
    }
    .tab-title{
        font-size: 20px;
        font-weight: 600;
        span{
            font-weight: 600;
            font-size: 20px !important;
        }
    }
}

.item-menu{
    font-size: 14px;
    margin-right:-6px;
}

#days-free-data,
#days-previous-data,
#days-earned-data,
#days-assigned-data,
#days-sickleave-data,
#days-spent-data{
    display: none;
}

.booking-wrapper{
    background-image: url('../images/vacation.jpg');
    background-size: cover;
    background-position: center center;
    color:white;
    margin-top:30px;
    border-radius: 4px;
}