@mainTransition: all .12s linear;
@basecolorDarkest:#42423c;
@basetextColor:#42423c;
@basecolorLighter:#696964;
@basecolorLightest:#7c7c78;
@highlightColor:#1E9BCC;
@focusColor: #1E9BCC;
@warningColor:#EA5145;
@readonly:#ebebeb;
@borderImageMatch:#f8f9fa;